.blog-item-link {
  color: black;
  text-decoration: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 15px;
}

.item-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

@media screen and (min-width: 575px) {
  .item-container {
    flex-direction: row;
    width: 660px;
    height: 170px;
    margin: 15px;
  }
}

.item-image {
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  height: 170px;
  margin: 15px;
}

@media screen and (min-width: 575px) {
  .item-image {
    width: 40%;
  }
}

.item-info {
  width: 100%;
}

@media screen and (min-width: 575px) {
  .item-info {
    width: 60%;
  }
}
.author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}
